// colors
$color-blue: #0ad;
$color-teal: #12C3E4;
$color-dark-1: #373636;
$color-light-1: #eee;
$color-white: #fff;

$b-color-text: $color-dark-1;
$b-color-link: $color-blue;
$b-color-placeholder: $color-light-1;
$b-color-highlighting: $color-teal;


// typography
$font-weight-thin: 100;
$font-weight-regular: 300;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$b-font-family: 'GillSans', sans-serif;
$b-font-size: 14px;
$b-line-height: 1.4;


// layout
$unit: 20px;
